#table {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#table th {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
  background-color: #4CAF50;
  color: white;
}

#table td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#table tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr.header, #table tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #ddd;
