<!DOCTYPE html>
<html lang="en">

<head>
    <title>ZEBRA - AppleWatch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="login">Login</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">ZEBRA App - An Apple SmartWatch Implementation</h3>
        </div>

        <div class="jumbotron">
            <h1>ZEBRA App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="login" role="button">Login today</a>
            </p>
        </div>

        <div>
            <h4>About our projects</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
            <br>
            <h4>Who we are</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
            <ul>
                <li>Fatima Nadeem</li>
                <li>Diana Petcheva</li>
                <li>Vladyslava Diachenko</li>
                <li>Hassaan Arif Mustafa</li>
                <li>Khalid Hassan</li>
            </ul>
            <br>
            <h4>What are you waiting for? Get started!</h4>
        </div>

    </div>
</body>

</html>