<!DOCTYPE html>
<html lang="en">

<head>
    <title>ZEBRA - AppleWatch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="login">Login</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">ZEBRA App - An Apple SmartWatch Implementation</h3>
        </div>

        <div class="jumbotron">
            <h1>ZEBRA App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-primary" href="login" role="button">Login today</a>
            </p>
        </div>

        <div>
            <h4>About our projects</h4>
            <p>
                We’re implementing our version of a Zero Effort Bilateral Re-occurring Authentication method using wearable tech, 
                more specifically with an Apple Watch. Users will log into this web portal and their actions will be monitored 
                through the Apple Watch. When either the user has not interacted with the system log enough, or steps away for a 
                moment they will be logged out of the system. Also, if another user tries to use a login one another user’s behalf 
                they will be logged out. 
            </p>
            <br>
            <h4>Who we are</h4>
            <p>Group of CSC490 students that are apply research techniques to build a Zero Effort Bilateral Re-occurring Authentication project.</p> 
            <p>Our members are…</p>
            <ul>
                <li>Fatima Nadeem</li>
                <li>Diana Petcheva</li>
                <li>Vladyslava Diachenko</li>
                <li>Hassaan Arif Mustafa</li>
                <li>Khalid Hassan</li>
            </ul>
            <br>
            <h4>What are you waiting for? Get started!</h4>
        </div>

    </div>
</body>

</html>