<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>ZEBRA - AppleWatch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script type=text/javascript>
        $(function() {
            $('#btnLogin').click(function() {
        
                $.ajax({
                    url: '/login',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script> -->
</head>
 
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">Login</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">ZEBRA App - An Apple SmartWatch Implementation</h3>
        </div>
 
        <div class="jumbotron">
            <h1>ZEBRA App</h1>
            <form class="form-signin" action="login">
            
                <label for="inputUserName" class="sr-only">User Name</label>
                <input type="text" name="inputUserName" id="inputUserName" class="form-control" placeholder="User name" required>    

                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
                
                <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>
  
    </div>
</body>
 
</html>