<!DOCTYPE html>
<html lang="en">

<head>
    <title>ZEBRA - AppleWatch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<script>
    let timeout = null;
    window.addEventListener('keyup', function (e) {
        clearTimeout(timeout);
        timeout = setTimeout(function () {
            document.getElementById("logout").click();
        }, 60000);
    });
    window.addEventListener('mousemove', function (e) {
        clearTimeout(timeout);
        timeout = setTimeout(function () {
            document.getElementById("logout").click();
        }, 60000);
    });

</script>

<body>
    <div class="container">

        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a id="logout" href="logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">ZEBRA App - An Apple SmartWatch Implementation</h3>
        </div>

        <div class="jumbotron">
            <h1 id="demo">Welcome to our DemoA :)</h1>

            <div>
                <h4 id="message" stye=“margin-top: 200px;”> Please Continue to type for 20 seconds Straight</h4>
                <textarea id="textarea" rows="4" cols="100"> </textarea>
            </div>

            <script>
                //starting typing
                var typing = false
                let typingTimer = null;                //timer identifier
                var keystrokes = []
                const textarea = document.getElementById("textarea")
                const message = document.getElementById("message")
                var typingTime;
                var donetypingdate
                var success = false

                //key up logging
                textarea.addEventListener('keyup', function (event) {

                    if (success) {
                        //if keystrokes already sent to server for testing, do nothing
                    } else {

                        clearTimeout(typingTimer);

                        // Make a new timeout set to go off in 1000ms (1 second)
                        typingTimer = setTimeout(function () {

                            typingTime = (new Date() - typingdate) / 1000

                            if (typingTime < 20) {
                                typing = false
                                message.innerHTML = "Please type for 20 consecutive seconds, You typed for " + typingTime + " seconds."
                                textarea.value = ""
                                console.log(typingTime)
                                keystrokes = []
                            } else {
                                message.innerHTML = "Success, Analyzing Keystrokes..."
                                console.log(typingTime)
                                success = true;
                                //Send keystrokes to server for processissing 
                                var JsonKeystrokes = JSON.stringify(keystrokes);
                                $.ajax({
                                    type: "POST",
                                    url: "/watch_data",
                                    contentType: "application/json;charset=UTF-8",
                                    dataType: 'json',
                                    data: JsonKeystrokes
                                }).done(function (data) {
                                    //success, fires when the ajax call is complete
                                }).fail(function (err) {
                                });
                            }
                        }, 1000);

                        var timestamp = Date.now();
                        var section = "";
                        if ('Escape12345`~!@#$%qwertQWERTasdfgASDFGzxcvbZXCVBCapsLock'.includes(event.key)) {
                            // var keyuptext = timestamp + ", keyup, " + event.key + ", left";
                            keystrokes.push({ "timestamp": timestamp, "action": "keyup", "key": event.key, "location": "left" });
                            section = "left";
                        } else if ('ShiftControlAltMeta'.includes(event.key) && event.location == 1) {
                            // var keyuptext = timestamp + ", keyup, " + event.key + ", left";
                            keystrokes.push({ "timestamp": timestamp, "action": "keyup", "key": event.key, "location": "left" });
                            section = "left";
                        } else if ('ShiftControlAltMeta'.includes(event.key) && event.location == 2) {
                            // var keyuptext = keypresstext = timestamp + ", keyup, " + event.key + ", right";
                            keystrokes.push({ "timestamp": timestamp, "action": "keyup", "key": event.key, "location": "right" });
                            section = "right";
                        } else if (' '.includes(event.key)) {
                            // var keyuptext = timestamp + ", keyup, Space" + ", center";
                            keystrokes.push({ "timestamp": timestamp, "action": "keyup", "key": "space", "location": "center" });
                            section = "center";
                        } else {
                            // var keyuptext = timestamp + ", keyup, " + event.key + ", right";
                            keystrokes.push({ "timestamp": timestamp, "action": "keyup", "key": event.key, "location": "right" });
                            section = "right";
                        }
                        
                        document.getElementById('timestamp').prepend(timestamp + "\n");
                        document.getElementById('keyaction').prepend("keyup\n");
                        document.getElementById('section').prepend(section + "\n");
                        document.getElementById('key').innerHTML = event.key + "<br>" + document.getElementById('key').innerHTML;
                    }
                });

                textarea.addEventListener('keypress', function (event) {
                    if (success) {
                        //if keystrokes already sent to server for testing, do nothing
                    } else {
                        if (typing == false) {
                            typing = true
                            message.innerHTML = "Typing..."
                            typingdate = new Date()
                        }

                        var timestamp = Date.now();
                        var section = "";
                        if ('Escape12345`~!@#$%qwertQWERTasdfgASDFGzxcvbZXCVBCapsLock'.includes(event.key)) {
                            // var keypresstext = timestamp + ", keypress, " + event.key + ", left";
                            keystrokes.push({ "timestamp": timestamp, "action": "keypress", "key": event.key, "location": "left" });
                            section = "left";
                        } else if ('ShiftControlAltMeta'.includes(event.key) && event.location == 1) {
                            // var keypresstext = timestamp + ", keypress, " + event.key + ", left";
                            keystrokes.push({ "timestamp": timestamp, "action": "keypress", "key": event.key, "location": "left" })
                            section = "left";
                        } else if ('ShiftControlAltMeta'.includes(event.key) && event.location == 2) {
                            // var keypresstext = timestamp + ", keypress, " + event.key + ", right";
                            keystrokes.push({ "timestamp": timestamp, "action": "keypress", "key": event.key, "location": "right" })
                            section = "right";
                        } else if (' '.includes(event.key)) {
                            // var keypresstext = timestamp + ", keypress, Space" + ", center";
                            keystrokes.push({ "timestamp": timestamp, "action": "keypress", "key": "Space", "location": "center" })
                            section = "center";
                        } else {
                            // var keypresstext = timestamp + ", keypress, " + event.key + ", right";
                            keystrokes.push({ "timestamp": timestamp, "action": "keypress", "key": event.key, "location": "right" })
                            section = "right";
                        }

                        document.getElementById('timestamp').prepend(timestamp + "\n");
                        document.getElementById('keyaction').prepend("keypress\n");
                        document.getElementById('section').prepend(section + "\n");
                        document.getElementById('key').innerHTML = event.key + "<br>" + document.getElementById('key').innerHTML;
                    }

                });
            </script>
            <br>

            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <p> Timestamp </p>
                    </div>
                    <div class="col-md-2">
                        <p> Key action </p>
                    </div>
                    <div class="col-md-2">
                        <p> Key </p>
                    </div>
                    <div class="col-md-1">
                        <p> Section</p>
                    </div>
                    <div class="col-md-2">
                        <p> Predicted key </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p id="timestamp"> </p>
                    </div>
                    <div class="col-md-2">
                        <p id="keyaction"> </p>
                    </div>
                    <div class="col-md-2">
                        <p id="key"> </p>
                    </div>
                    <div class="col-md-1">
                        <p id="section"> </p>
                    </div>
                    <div class="col-md-2">
                        <p id="predicted"></p>
                    </div>
                </div>
            </div>

        </div>
</body>

</html>